<%= render "header" %>

<!-- Header -->
  <header id="purple">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-text">
                    <img class="icons8" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-128.png" width="110" height="110">
                      <span class="name">GITHUB</span>
                      <span class="skills">Let's get started learning Git & GitHub.</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- WHAT IS devprep -->
  <section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>What is Git & GitHub</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br></br>
                <p>Git is the technology that allows developers to work on projects together. The majour benefit to using Git is version control.</p>
                <br></br>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1h9_cB9mPT8"></iframe>
                </div>
                <br></br>
                <p>Now that we know what Git & GitHub is, let's start by setting up Git on you Mac.</p>
            </div>
        </div>
    </div>
  </section>

  <!-- Objectives Section -->
  <section class="success" id="purple" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>SET-UP</h2>
                  <br></br>
                  <hr class="hub-hr-white">
              </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br></br>
              <p>The first time set-up of Git on your computer can seem a little bit over whelming, but don't worry it' i's pretty simple.</p>
              <br></br>
              <a href="https://github.com/"><h4 id="git-white">Sign up for Github if you havent already.</h4></a>
              <br></br>
              <a href="https://git-scm.com/download/mac"><h4 id="git-white">Download git.</h4></a>
              <br></br>
              <a href="https://help.github.com/articles/set-up-git/#setting-up-git"><h4 id="git-white">Complete steps 2 through 4 on setting up git.</h4></a>
              <br></br>
              <a href="https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/#generating-a-new-ssh-key"><h4 id="git-white">Follow the instruction to generate a new SSH key as well as Adding that SSH key to your github account.</h4></a>
              <br></br>
              <a href="https://help.github.com/articles/setting-your-email-in-git/"><h4 id="git-white">Set up your email so that your not prompted every time.</h4></a>
              <br></br>
              <a href="https://help.github.com/articles/setting-your-username-in-git/"><h4 id="git-white">Set up you username so that your not prompted every time.</h4></a>
              <br></br>
              <p>Now that you have set up your GitHub account and configured Git on you computer let's do a quick lesson.</p>
            </div>
          </div>
      </div>
  </section>

  <!-- More about HTML Section -->
  <section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Git Lessons</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br></br>
              <p>Over at CodeSchool you started learning the basics of JavaScript. Watching the vieos below will help you get a better understanding of how to write HTML and how to code a simple website.</p>
              <br></br>
              <a href="https://www.codeschool.com/courses/try-git"><h3>Complete this course at CodeSchool <i class="fa fa-pencil-square-o"></i></h3></a>
              <br></br>
              <a href="http://rogerdudler.github.io/git-guide/"><h3>Check out this Git walkthrough. It is a great guide. don't forget to bookmark this page. <i class="fa fa-pencil-square-o"></i></h3></a>
              <br></br>
              <p>let's head to the next section where we will watch a few more videos about Git and GitHub.</p>
            </div>
        </div>
    </div>
  </section>

  <!-- Commitment and Expectations Section -->
  <section class="success" id="purple" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>workflows & more</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <br></br>
                <p>Check out this great video about GitHub workflows.</p>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_ALeswWzpBo"></iframe>
                </div>
                <br></br>
                <p>Don't be afraid of the command line, it will make your life much easier.</p>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JPKOESR1k04"></iframe>
                </div>
                <br></br>
                <p>Now that you have a good understanding of git, let's get all of your assignments on git for submission.</p>
              </div>
          </div>
          </div>
      </div>
  </section>

  <!-- ANOTHER More about HTML Section -->
  <section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><i class="fa fa-code"></i> Assignment <i class="fa fa-code"></i></h2>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <br></br>
            <p>At this point your assignments should be complete. Create a repo for your recipe assignment that you need to submit.</p>
            <br></br>
            <p>Once you have created your repo on GitHub. Use the command line on your system to clone the repo.</p>
            <p>Move your assignment into your repo folder on your computer.</p>
            <p>Use the command line to now get your files pushed to GitHub. If you cant remember how to do this check out the guide we gave you earlier and watch the video on git command line.</p>
            <a href="/submit" target="_blank" id="blue-button" class="btn btn-lg btn-outline">
                <i class="fa fa-share"></i>SUMIT WORK
            </a>
          </div>
        </div>
    </div>
  </section>

  <!-- Commitment and Expectations Section -->
  <section class="success" id="purple" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>NOW YOU KNOW how to use git and github.</h2>
                  <br></br>
                  <hr class="hub-hr-white">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2  text-center">
                  <br></br>
                  <p>Now that you've done the prep course, it would be a great idea to go through each section to make sure you are comfortable with the concept. If you haven't already try to complete all the stretch goals.</p>
              </div>
          </div>
      </div>
  </section>

  <%= render "footer" %>
