<%= render "header" %>

<!-- Header -->
    <header id="orange">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                      <img class="icons8" src="http://image005.flaticon.com/1/svg/27/27528.svg" width="130" height="130">
                        <span class="name">HTML & CSS</span>

                        <span class="skills">Let's get started learning HTML & CSS.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- WHAT IS devprep -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>What is HTML?</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <br></br>
                  <p>HTML is the language that all websites are made in. Watch the video below to get a simple idea of what HTML is and how it has evolved.</p>
                  <br></br>
                  <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IsXEVQRaTX8"></iframe>
                    </div>
                  <br></br>
                  <p>Now that we know what HTML is, let's start doing some lessons.</p>
              </div>
          </div>
      </div>
    </section>

    <!-- Objectives Section -->
    <section id="orange" class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The Basics</h2>
                    <br></br>
                    <hr class="hub-hr-white">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <br></br>
                <p>The following lessons are a great introduction to HTML.</p>
                <p>At the end of this lesson you will understand the core concepts of HTML and be able read code.</p>
                <br></br>
                <a href="https://www.codecademy.com/learn/web" target="_blank"><h3>COMPLETE UNITS 1 THROUGH 3. <i class="fa fa-pencil-square-o"></i>
                </h3></a>
                <br></br>
                <p>Now that you have finished the lessons let's continue to learn about some of these concepts in more detail.</p>
              </div>
            </div>
        </div>
    </section>

    <!-- More about HTML Section -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>HTML in more detail</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <br></br>
                <p>Over at Codecademy you started learning the basics of HTML. Watching the videos below will help you get a better understanding of how to write HTML and how to code a simple website.</p>
                <br></br>
                <!-- 16:9 aspect ratio -->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dD2EISBDjWM"></iframe>
                  </div>
                <br></br>
                <!-- 16:9 aspect ratio -->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-USAeFpVf_A"></iframe>
                  </div>
                <br></br>
                <p>So, now we know how to build a very simple website. Let's head to the next section to talk about how to style our websites.</p>
              </div>
          </div>
      </div>
    </section>

    <!-- Commitment and Expectations Section -->
    <section id="orange" class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Let's Talk CSS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br></br>
                    <p>CSS is the cornerstone of web design. Every page has HTML to tell the browser what should appear on a page. Every website also has CSS that tell the page what to look like.</p>
                    <p>Let's head back to Codecadamy to learn the basics of CSS.</p>
                    <br></br>
                    <a href="https://www.codecademy.com/learn/web" target="_blank"><h3>COMPLETE UNITS 4 THROUGH 6 AND COME BACK. <i class="fa fa-pencil-square-o"></i>
                    </h3></a>
                    <br></br>
                    <p>Now that you have learned the basics of web page CSS on Codecadamy. Let's take a short quiz to test some of your knowledge.</p>
                    <a href="http://www.w3schools.com/quiztest/quiztest.asp?qtest=CSS" target="_blank"><h3>FINISH THE QUIZ AND COME BACK. <i class="fa fa-pencil-square-o"></i>
                    </h3></a>
                    <p>If you weren't able to able to complete the quiz confidently, you may want to continue to do more practice and research with CSS</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ANOTHER More about HTML Section -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>GOOGLE DEV-TOOLS!</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2  text-center">
                  <br></br>
                  <p>Google Dev-Tools will become one of the most useful tools in or pocket when it comes to building web pages.</p>
                  <p>Dev-Tools is a tool built into Google Chrome that lets us look under the hood of our website while it's running in your browser.</p>
                  <br></br>
                  <p>Let's head over to Code School and complete a short lesson on Dev-Tools</p>
                  <br></br>
                  <a href="https://www.codeschool.com/courses/discover-devtools" target="_blank"><h3>COMPLETE LEVEL 1 AND 2. <i class="fa fa-pencil-square-o"></i>
                  </h3></a>
                  <br></br>
                  <p>Dev-Tools is a powerful tool, you will use it all the time. Here is a video that shows you some more advanced use of Dev-Tools.</p>
                  <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nV9PLPFTnkE"></iframe>
                    </div>
              </div>
          </div>
      </div>
    </section>

    <!-- Commitment and Expectations Section -->
    <section id="orange" class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>DO YOU EVEN JADE?!</h2>
                    <br></br>
                    <hr class="hub-hr-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br></br>
                    <p>In this section of the course were going to be talking about JADE & SASS. So you may be asking, what is Jade and SASS?</p>
                    <br></br>
                    <p>The short answer is that they are frameworks to help you write HTML and CSS. They allow you to write code faster and more efficiently by allowing you to type less and then process that into full HTML and CSS</p>
                    <p>This may sound complicated but trust us when we tell you that JADE and SASS will make your life very easy.</p>
                    <br></br>
                    <h3>Check out these great videos on JADE and SASS.</h3>
                    <br></br>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wzAWI9h3q18"></iframe>
                    </div>
                    <br></br>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1XmUUa_pWw8"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ANOTHER More about HTML Section -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2><i class="fa fa-code"></i>  Assignment <i class="fa fa-code"></i></h2>

                  <h3>Code Review</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2  text-center">
                  <br></br>
                  <p>At this point you should be fairly confident with HTML and CSS.</p>
                  <p>You have learned a lot about how to use these two technologies together to build websites.</p>
                  <br></br>
                  <p>This is going to be your first code review. A code review a simply a review of a program or piece of code you will be writing. During bootcamp these occur at least once a week. They aren't meant to "mark" your work but rather give you an opportunity to get feedback on your code.</p>
                  <br></br>
                  <p>For you first assignment you will be building a recipe page.</p>
                  <p>You have full creative control to build anything you would like, using any tools you would like. Feel free to go through some of the stretch goals at the end of this section of the course. There will be many useful tools and videos you can watch that will help you build this project.</p>
                  <br></br>
                  <h3>Requirements</h3>
                  <br></br>
              </div>
              <div class="col-lg-8 col-lg-offset-2">

                  <p>Your code must contain all of the following tags:</p>
                  <ul class="ul_intro">
                    <li>section</li>
                    <li>p</li>
                    <li>h1, h2, h3</li>
                    <li>ul/ol, li</li>
                    <li>strong</li>
                    <li>em</li>
                    <li>img</li>
                  </ul>
                  <p>Your page must include photos. Who wants to see a recipe without photos!</p>
                  <p>Your Recipe should also contain 2 sections, an ingredients list as well as cooking instructions.</p>

                  <h3>Styling:</h3>
                  <ul class="ul_intro">
                    <li>Use CSS/SASS to add rounded corners to an element on your page.</li>
                    <li>Use a drop shadow on at least one element on your page.</li>
                    <li>Use CSS/SASS to resize and crop the images on your page.</li>
                    <li>Use CSS/SASS to apply hover state style change.</li>
                    <li>Use CSS/SASS to have your hover change use a transition or transformation effect, rather that just suddenly changing.</li>
                  </ul>
                  <br></br>
                  <h3>Tips:</h3>
                  <ul class="ul_intro">
                    <li>Make sure you are using a code editor, we recommend using Sublime Text.</li>
                    <li>Use Google Chrome as your default browser, this make using Dev Tools more natural.</li>
                    <li>Use Chrome Dev-Tools to make minor style changes in your browser for more efficient styling.</li>
                    <li>Keep this assignment well organised. Ensure you keep your project safely stored. Not only will you be submitting this assignment for review later but you will also be making some revisions to the code using JavaScript and J-Quer later on in the course.</li>
                  </ul>
              </div>
          </div>
      </div>
    </section>

    <!-- Commitment and Expectations Section -->
    <section id="orange" class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>NOW YOU KNOW HTML AND CSS!</h2>
                    <br></br>
                    <hr class="hub-hr-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2  text-center">
                    <br></br>
                    <p>Now that you know HTML & CSS we are going to move on to the nest section of this course.</p>
                    <p>In our next section you are going to learn the fundimentals of JavaScript and J-Query. Together they are the used to create interactive websites.</p>
                    <br></br>
                    <a href="/javascript"><h2>MOVE ON TO JAVASCRIPT! <i class="fa fa-arrow-circle-right"></i></h2></a>
                </div>
            </div>
        </div>
    </section>

    <!-- ANOTHER More about HTML Section -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Stretch Goals</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2  text-center">
                  <br></br>
                  <p>At the end of each section we will provide you with a set of stretch goals.</p>
                  <p>These are things that are things you are going to need to learn over time. Learning these things now, and trying to use them in your assignment is a great way to practice.</p>
                  <br></br>
                  <a href="https://www.codecademy.com/skills/uk-quizzes/topics/uk-html-basics/html-basics-1/0" target="_blank"><h3>HTML Quiz <i class="fa fa-pencil-square-o"></i></h3></a>
                  <a href="http://www.cssportal.com/css-quiz/" target="_blank"><h3>CSS Quiz <i class="fa fa-pencil-square-o"></i></h3></a>
                  <br></br>
                  <h3>HTML Video Series</h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NzzGt7EmXVw?list=PLqGj3iMvMa4KlJn1pMYPVV3eYzxJlWcON"></iframe>
                  </div>
                  <br></br>
                  <h3>HTML Layout Video Series</h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hExwnLlj2xk?list=PLqGj3iMvMa4KCk2emQ6_71H5DbxzdgZJC"></iframe>
                  </div>
                  <br></br>
                  <h3>BootStrap Video Series</h3>
                  <p>In this video series, we learn about BootStrap, a CSS Framework. We highly reccommend doing some research into BootStrap. TIP: Using Bootstrap in your assignment may make your like easier.</p>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0QlecDOWHmY?list=PLqGj3iMvMa4IPwMW-sSXn1Q_pVu5tUMCw"></iframe>
                  </div>
                  <br></br>
                  <h3>Website From Scratch Series</h3>
                  <p>In this video series, we learn about building a website from scratch. Although this is a long series it will give you a good idea of how to build a project from beginning to end. </p>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sJhhLvW-Xvg?list=PLqGj3iMvMa4KeBN2krBtcO3U90_7SOl-A"></iframe>
                  </div>
                  <br></br>
                  <h4>It should be obvious at this point that YouTube is a great resource for learning about new tools and concepts. If you ever have any trouble, try doing some searching on YouTube along with normal Google searches.</h4>
              </div>
          </div>
      </div>
    </section>

    <%= render "footer" %>
