<%= render "header" %>

<!-- Header -->
    <header id="red">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                      <img class="icons8" src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/jquery-128.png" width="110" height="110">
                        <span class="name">JavaScript & J-QUERY</span>
                        <span class="skills">Let's get started learning JavaScript & J-QUERY.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- WHAT IS devprep -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>What is JavaScript & J-QUERY</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <br></br>
                  <p>JavaScript & J-QUERY is the language that is used to make items on webpages interactive.</p>
                  <br></br>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nItSSTwBvSU"></iframe>
                  </div>
                  <br></br>
                  <p>Now that we know what JavaScript is, let's start doing some lessons.</p>
              </div>
          </div>
      </div>
    </section>

    <!-- Objectives Section -->
    <section class="success" id="red" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The Basics</h2>
                    <br></br>
                    <hr class="hub-hr-white">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <br></br>
                <p>The following lessons are a great introduction to JavaScript.</p>
                <p>At the end of this lesson you will understand the core concepts of JavaScript including Data Types, Variables, Functions.</p>
                <br></br>
                <a href="https://www.codecademy.com/learn/javascript" target="_blank"><h3>COMPLETE UNITS 1 AND 2 AND COME BACK.</h3></a>
                <br></br>
                <p>Now that you have finished the lessons let's continue to learn about some of these concepts in more detail.</p>
              </div>
            </div>
        </div>
    </section>

    <!-- More about HTML Section -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>JavaScript basics in more detail</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <br></br>
                <p>Over at Codecademy you started learning the basics of JavaScript. Watching the videos below will help you get a better understanding of how to write HTML and how to code a simple website.</p>
                <br></br>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fGdd9qNwQdQ"></iframe>
                </div>
                <br></br>
                <p>Let’s head over to the next lesson where we will use Codecademy to learn a few more advanced techniques. </p>
              </div>
          </div>
      </div>
    </section>

    <!-- Commitment and Expectations Section -->
    <section class="success" id="red" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>More Exercises!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <br></br>
                  <p>The following lessons are a great introduction to JavaScript.</p>
                  <p>At the end of this lesson you will understand the core concepts of JavaScript including Data Types, Variables, Functions.</p>
                  <br></br>
                  <a href="https://www.codecademy.com/learn/javascript" target="_blank"><h3>COMPLETE UNITS 3 THROUGH 6 AND COME BACK.</h3></a>
                  <br></br>
                  <p>Now that you have finished the lessons let's continue to learn about some of these concepts in more detail.</p>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- ANOTHER More about HTML Section -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Loops, Arrays, & Objects</h2>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <br></br>
              <p>Over at Codecademy you started learning about loops, arrays, and objects in JavaScript. Watching the video below will help you get a better understanding of how to use them.</p>
              <br></br>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/orAS-MBh5f4"></iframe>
              </div>
              <br></br>
              <p>let's head over to the next lesson where we will use Codecademy to learn a few more advanced techniques.</p>
            </div>
          </div>
      </div>
    </section>

    <!-- Commitment and Expectations Section -->
    <section class="success" id="red" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>J-QUERY</h2>
                    <br></br>
                    <hr class="hub-hr-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <br></br>
                  <p>The following lessons are a great introduction to J-QUERY.</p>
                  <p>At the end of this lesson you will understand the core concepts of J-QUERY. In these lessons we will learn about Functions, Selectors, Dynamic HMTL, Events, and Effects.</p>
                  <br></br>
                  <a href="https://www.codecademy.com/learn/javascript" target="_blank"><h3>COMPLETE UNITS 1 THROUGH 5 AND COME BACK.</h3></a>
                  <br></br>
                  <p>Now that you have finished the lessons let's continue to learn how to use what we have learned.</p>
                  <br></br>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hMxGhHNOkCU"></iframe>
                  </div>
                  <br></br>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G-POtu9J-m4"></iframe>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ANOTHER More about HTML Section -->
    <section id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Assignment</h2>
                  <h3>Code Review</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2  text-center">
                  <br></br>
                  <p>At this point you should be able to use everything you have learned to add some functionality to our recipe.</p>
                  <p>It's time to make our Recipe interactive using JavaScript and J-Query.</p>
                  <br></br>
                  <h3>REQUIREMENTS</h3>
                  <br></br>
              </div>
              <div class="col-lg-8 col-lg-offset-2">
                <h4>Instructions</h4>

                <p>Let's make our recipe interactive. Be creative as you work through this assignment. There are lots of options for how to accomplish these!</p>

                <ol class="ul_intro">
                <li>Users can mark an ingredient after they buy it.</li>
                <li>Users can keep their place in the directions list as they cook.</li>
                <li>Users can hide all photos.</li>
                </ol>
                <br></br>
                <h3>SET UP</h3>
                <br></br>
                <p>Include the jQuery library in our html document. In the <code>&lt;head&gt;</code> of your recipe html let&#39;s include the jQuery library from an external source by adding the following line:</p>
                <div class="highlight"><pre><code class="text language-text" data-lang="text">&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;
                </code></pre></div>
                <p>Now, create and save a file called script.js in the same directory as our recipe html document.</p>

                <p>Include it in the <code>&lt;head&gt;</code> of your html document. Somewhere around your stylesheet link tag, include this:</p>
                <div class="highlight"><pre><code class="text language-text" data-lang="text">&lt;script src=&quot;script.js&quot;&gt;&lt;/script&gt;
                </code></pre></div>
                <p>Perfect. Add your &quot;document ready&quot; function in your script.js just like you&#39;ve been working on in the Codecademy jQuery exercises:</p>
                <div class="highlight"><pre><code class="text language-text" data-lang="text">$(document).ready(function() {

                });
                </code></pre></div>
                <p>Let&#39;s make sure everything&#39;s working by adding logging something to the console. Make script.js look like this:</p>
                <div class="highlight"><pre><code class="text language-text" data-lang="text">$(document).ready(function() {
                  console.log(&quot;Script included!&quot;);
                });
                </code></pre></div>
                <p>Open your html document and check your console. You should see &quot;Script included!&quot; and no errors. If you do, work from the beginning of these steps and check for errors in the console along the way.</p>

                <hr>
              </div>
          </div>
      </div>
    </section>

    <!-- Commitment and Expectations Section -->
    <section class="success" id="red" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>NOW YOU KNOW JAVASCRIPT AND J-QUERY!</h2>
                    <br></br>
                    <hr class="hub-hr-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2  text-center">
                    <br></br>
                    <p>In our next section you are going to learn the fundamentals of Ruby. Ruby is the core programming language that make creating advanced web apps possible.</p>
                    <br></br>
                    <a href="/ruby"><h2>MOVE ON TO RUBY <i class="fa fa-arrow-circle-right"></i></h2></a>
                </div>
            </div>
        </div>
    </section>

    <!-- JS Stretch Goals Section -->
   <section id="portfolio">
     <div class="container">
         <div class="row">
             <div class="col-lg-12 text-center">
                 <h2>Stretch Goals</h2>
             </div>
         </div>
         <div class="row">
             <div class="col-lg-8 col-lg-offset-2  text-center">
                 <br></br>
                 <p>At the end of each section we will provide you with a set of stretch goals.</p>
                 <p>These are things that are things you are going to need to learn over time. Learning these things now, and trying to use them in your assignment is a great way to practice.</p>
                 <br></br>
                 <a href="http://www.codequizzes.com/learn-javascript/variables-strings-numbers-types" target="_blank"><h3>JavaScript Quiz</h3></a>
                 <a href="http://www.w3schools.com/quiztest/quiztest.asp?qtest=jQuery" target="_blank"><h3>J-QUERY Quiz</h3></a>
                 <br></br>
                 <h3>JavaScript Video</h3>
                 <div class="embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_cLvpJY2deo"></iframe>
                 </div>
                 <br></br>
                 <h3>J-Query Video Series</h3>
                 <div class="embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vZft3R0ookY?list=PL01A9121D3074EF65"></iframe>
                 </div>
                 <br></br>
                 <h4>It should be obvious at this point that YouTube is a great resource for learning about new tools and concepts. If you ever have any trouble, try doing some searching on YouTube along with normal Google searches.</h4>
             </div>
         </div>
     </div>
   </section>



    <%= render "footer" %>
